/* Define estilos padrão para todos os elementos HTML, eliminando margens, preenchimentos e considerando a caixa de modelo de conteúdo. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estiliza o corpo da página com um fundo escuro e centraliza seu conteúdo verticalmente e horizontalmente. */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* Estiliza a calculadora, definindo sua largura, centralizando horizontalmente e adicionando um fundo de cor escura. */
#calculator {
    background-color: #505050;
    /* Defina o tamanho desejado da calculadora */

    /* Estiliza o display da calculadora com quebra de palavra, alinhamento à direita, borda inferior e tamanho de fonte grande. */
    #display {
        display: block;
        align-content: start;
        word-break: break-all;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid rgb(177, 177, 177);
        color: #b1b0b0;
        /* Defina o tamanho da fonte desejado */
    }

    /* Estiliza o contêiner de botões da calculadora, centralizando horizontalmente e definindo uma margem superior. */
    #btns-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Distribui os botões em 4 colunas */
    }

    /* Estiliza os botões com um fundo cinza claro, efeito de transição suave e tamanho de fonte grande. */
    button {
        display: flex;
        background-color: #bebebe;
        transition: 0.3s;
        border: 1px solid #acacac;
        justify-content: center;
        align-items: center;

        /* Estiliza os botões ao passar o mouse com um leve aumento de escala, uma borda mais espessa e sombra. */
        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.452);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342) inset;
        }

        /* Estiliza os botões quando pressionados com uma diminuição de escala e mudança de cor de fundo. */
        &:active {
            transform: scale(1.00);
            background-color: #9e9e9e;
        }
    }

    /* Estiliza o botão igual com uma cor de fundo especial. */
    #equal {
        background-color: rgb(104, 167, 240);
    }

    /* Estiliza o botão igual quando pressionado com uma cor de fundo alternativa. */
    #equal:active {
        background-color: rgb(88, 141, 202);
    }

}


/* Define as regras de estilo para dispositivos com largura máxima de 767px (responsivo). */
@media (max-width: 767px) {

    /* Altera o fundo do corpo para uma cor mais clara e aumenta o tamanho da fonte para dispositivos menores. */
    body {
        background-color: #505050;
        align-items: end;
    }

    /* Ajusta a margem e o preenchimento da calculadora para dispositivos menores. */
    #calculator {
        width: 100%;
        padding: 10px;
        /* Espaçamento interno */

        /* Redefine a altura e o tamanho da fonte do display para dispositivos menores, permitindo a quebra de palavra. */
        #display {
            height: 150px;
            font-size: 50px;
        }

        #btns-container {
            margin-top: 20px;
        }

        /* Aumenta o tamanho dos botões e adiciona um pequeno preenchimento para dispositivos menores. */
        button {
            height: 80px;
            font-size: 35px;
        }
    }


}

/* Define as regras de estilo para dispositivos com largura igual ou maior que 768px (responsivo). */
@media (min-width: 768px) {

    /* Altera o fundo do corpo para uma cor mais escura e ajusta o tamanho da fonte para dispositivos maiores. */
    body {
        background-color: #ffffff;
        align-items: center;
    }

    /* Ajusta a margem e o preenchimento da calculadora para dispositivos maiores. */
    #calculator {
        width: 500px;
        padding: 30px;
        box-shadow: 0px 5px 30PX rgba(68, 68, 68, 0.444);
        /* Espaçamento interno */

        /* Redefine a altura e o tamanho da fonte do display para dispositivos maiores, permitindo a quebra de palavra. */
        #display {
            height: 190px;
            font-size: 55px;
        }

        #btns-container {
            margin-top: 30px;
        }

        /* Define o tamanho dos botões para dispositivos maiores. */
        button {
            width: 100%;
            height: 110px;
            font-size: 45px;
        }
    }

}