* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif;
    background-color: rgb(27, 27, 27);
    color: white;
}

#menu {
    display: flex;
    justify-content: right;
}

#menu li {
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

#hello {
    color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
}

#name {
    font-weight: 600;
    color: rgb(62, 108, 207);
}

#doing {
    color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
}

#cv {
    background-color: rgb(31, 80, 184);
    display: flex;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    justify-content: center;
    transition: 200ms;
}

#cv:hover {
    background-color: rgb(66, 117, 228);
    transform: translateY(-3px);
}

#skills ul {
    display: flex;
    text-align: center;
    list-style: none;
}

#skills ul li {
    border: 1px solid;
    background-color: rgb(16, 54, 136);
}

.project-buttons {
    display: flex;
    flex-direction: column;
}

.code-buttons,
.test-buttons {
    display: flex;
    font-weight: bolder;
    justify-content: center;
}

#projects ol li {
    list-style: none;
}

.project-buttons a {
    text-decoration: none;
    color: white;
}

.code-buttons {
    background-color: rgb(77, 77, 77);
    transition: 200ms;
}

.test-buttons {
    background-color: rgb(23, 114, 35);
    transition: 200ms;
}

.code-buttons:hover {
    background-color: rgb(97, 97, 97);
    transform: translateY(-3px);
}

.test-buttons:hover {
    background-color: rgb(47, 153, 61);
    transform: translateY(-3px);
}

#contacts div {
    display: flex;
    justify-content: center;
    
}

@media (max-width: 768px) {
    body>* {
        font-size: 18px;
        padding: 10px;
    }

    h1 {
        font-size: 40px;
        margin: 20px 0 20px 0
    }

    #menu-icon {
        width: 80px;
        display: flex;
    }

    #menu {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: 50px;
        margin: 5px;
    }

    #menu li {
        padding: 10px;
    }

    #menu li:hover {
        background-color: rgba(48, 100, 177, 0.404);
    }

    #menu li a {
        font-weight: bolder;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    #about {
        padding: 10px;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }

    #hello,
    #doing {
        font-size: 35px;
    }

    #name {
        font-size: 80px;
    }

    #more {
        margin: 30px 0 30px 0;
    }

    #img-perfil {
        margin-top: 20px;
    }

    #cv {
        padding: 15px;
        font-size: 30px;
        justify-content: center;
    }

    section {
        margin-top: 80px;
    }

    #skills ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    #skills ul li {
        border: 1px solid;
        padding: 20px;
        background-color: rgb(16, 54, 136);
        margin-top: 10px;
    }

    #projects ol li {
        margin-top: 40px;
    }

    #projects ol li>* {
        margin-top: 15px;
    }

    #projects img {
        width: 100%;
    }

    #contacts div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    #contacts div img {
        display: flex;
        justify-content: center;
        width: 100%
    }

    .code-buttons,
    .test-buttons {
        padding: 20px;
        font-size: 30px;
    }

    .test-buttons {
        margin-top: 15px;
    }
}

@media (min-width: 769px) {
    body {
        font-size: 22px;
    }

    #centralizer-container {
        width: 769px;
        margin: 0 auto
    }

    #menu {
        display: flex;
    }

    #menu li {
        display: flex;
        padding: 10px;
        transition: 300ms;
    }

    .menu-item:hover {
        background-color: rgba(23, 70, 158, 0.5);
    }

    #menu-icon {
        display: none;
    }

    h1 {
        font-size: 40px;
        margin: 10px 0 10px 0
    }

    #about {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 10px;
        align-items: center;
    }

    #hello {
        font-size: 50px;
    }

    #name {
        font-size: 90px;
    }

    #doing {
        font-size: 50px;
    }

    #img-perfil {
        display: flex;
        margin-top: 20px;
        width: 505px
    }

    #more {
        margin: 30px 0 30px 0;
    }

    #cv {
        padding: 20px;
        font-size: 40px;
    }

    #skills ul li {
        padding: 15px;
        margin: 10px;
        width: 100%;
    }

    #skills ul li p {
        margin: 10px;
    }

    section {
        margin-top: 50px;
    }

    #projects ol li {
        display: grid;
        list-style: none;
    }

    .project-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .code-buttons,
    .test-buttons {
        padding: 20px;
        margin: 10px 0;
        font-size: 30px
    }

    #projects li img {
        width: 100%;
    }

    #contacts div img {
        width: 180px;
        padding: 40px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 26px;
    }

    #centralizer-container {
        width: 1200px;
        margin: 0 auto
    }

    h1 {
        font-size: 40px;
        margin: 10px 0 10px 0
    }

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #hello,
    #doing {
        font-size: 40px;
    }

    #name {
        font-size: 70px;
    }

    #cv {
        padding: 30px 15px;
        font-size: 40px;
    }

    #projects ol li {
        margin-top: 890px;
    }
    
    #projects ol li>* {
        margin-top: 15px;
    }
    
    #projects img {
        width: 100%;
    }

    .code-buttons,
    .test-buttons {
        font-size: 40px;
        margin: 20px 0
    }


    #contacts div img {
        width: 280px;
        padding: 80px;
    }
}