/* Define a cor de fundo do corpo da página e regras gerais para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Define o modelo de caixa para incluir margens e bordas */
}

/* Define o estilo do corpo da página */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da janela de visualização */
}

/* Define o estilo do display principal */
#display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    border-radius: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Define o estilo dos botões de controle */
#buttons {
    display: flex;
}

/* Define o estilo para os botões de início, pausa e reset */
#start,
#pause,
#reset {
    border-radius: 50%;
    transition: 100ms; /* Transição suave de 100 milissegundos para animações */
}

/* Define o estilo do botão de início */
#start {
    background-color: rgb(50, 160, 65);
}

/* Define o estilo do botão de pausa */
#pause {
    background-color: rgb(83, 139, 245);
}

/* Define o estilo do botão de reset */
#reset {
    background-color: rgb(255, 87, 87);
}

/* Define o estilo dos botões quando passam o mouse por cima */
#start:hover {
    background-color: rgb(22, 114, 35);
    transform: translateY(3px); /* Efeito de levantamento quando hover */
}

#start:active {
    background-color: rgb(50, 160, 65);
}

#pause:hover {
    background-color: rgb(56, 96, 170);
    transform: translateY(3px);
}

#pause:active {
    background-color: rgb(83, 139, 245);
}

#reset:hover {
    background-color: rgb(141, 80, 80);
    transform: translateY(3px);
}

#reset:active {
    background-color: rgb(255, 87, 87);
}

/* Define o estilo do cronômetro quando a tela tiver largura menor que 768 pixels */
@media (max-width: 767px) {

    body {
        justify-content: space-around;
    }

    #display {
        font-size: 55px;
        width: 280px;
        height: 280px;
        border: 2px solid rgb(0, 0, 0);
    }

    #buttons div {
        padding: 30px;
        margin: 10px;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

/* Define o estilo do cronômetro quando a tela tiver largura igual ou maior que 768 pixels */
@media (min-width: 768px) {

    #display {
        font-size: 90px;
        width: 500px;
        height: 500px;
        border: 5px solid rgb(0, 0, 0);
    }

    #buttons {
        margin-top: 50px;
    }

    #buttons div {
        padding: 40px;
        margin: 15px;
    }

    img {
        width: 80px;
        height: 80px;
    }
}
