body {
    margin: 0;
}

#order-container {
    width: 210mm;
    margin: 0px auto;
    font-size: 25px;
}

#observation-container {
    min-height: 100px;
    border: 1px solid rgb(255, 5, 5);
    padding: 5px;
}

#client-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: solid 1px black;
    width: 100vw;
    padding-left: 5px;
}

th {
    background-color: rgba(128, 128, 128, 0.307);
    text-align: left;
}

.client-data {
    margin-right: 40px;
    margin-top: 10px;
}

td {
    vertical-align: top;
}

.value-containers {
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

.amount-tds {
    vertical-align: top;
    top: 0px;
    text-align: end;
    padding-right: 5px;
}