body {
    margin: 0;
}

#receipt-container {
    width: 210mm;
    margin: 0px auto;
}

header {
    display: flex;
    justify-content: space-between;
}

#client-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.client-data {
    margin-right: 40px;
    margin-top: 10px;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: solid 1px black;
    width: 100vw;
    padding-left: 5px;
}

th {
    background-color: rgba(128, 128, 128, 0.307);
    text-align: left;
}

td {
    vertical-align: top;
}

.value-containers {
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

.amount-tds {
    vertical-align: top;
    top: 0px;
    text-align: end;
    padding-right: 5px;
}

.payment-status-column {
    display: none;

}

#signature {
    position: relative;
    top: 100px;
    border-top: 1px solid black;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

