body {
    background-color: rgba(206, 206, 206, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}


form {
    border-radius: 10px;
    width: 460px;
    position: relative;
    padding: 30px;
    margin: 0 auto;
    background-color: white;
}

div {
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(5, 105, 255);
}

label {
    font-size: 12px;
}

span {
    display: flex;
    justify-content: space-around;

}

span input {
    height: 30px;
    width: 48%;
    border-radius: 7px;
    margin-bottom: 30px;
    border: none;

}

input {
    height: 30px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 30px;
    border: none;
}

.input {
    background-color: rgba(147, 152, 180, 0.74);
}

.input::placeholder {
    color: black;
    position: relative;
    left: 5px;
    font-size: 12px;
}


#submit {
    border: none;
    height: 40px;
    background: linear-gradient(rgb(0, 108, 250), rgb(8, 70, 110));
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#submit:active {
    background: linear-gradient(rgb(63, 145, 253), rgb(43, 85, 112));
}