/* Define a cor de fundo do corpo da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Define o estilo do timer */
#timer {
    margin: 0 auto;
}

/* Define o estilo do display */
#display {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    border-radius: 50%;
    border: 7px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Define o estilo dos botões */
#buttons{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#buttons div{
    padding: 20px;
    margin: 10px;
}

/* Define o estilo para os botões de inicio, pause e resete */
#start, #pause, #reset {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: 100ms;
}

/* Define o estilo do botão de inicio */
#start{
    background-color: rgb(22, 114, 35);
} 


/* Define o estilo do botão de pause */
#pause {
    background-color: rgb(56, 96, 170);
}

/* Define o estilo do botão de resete */
#reset {
    background-color: rgb(141, 80, 80);
}

/* Define o estilo dos botões quando passam o mouse por cima */
#start:hover {
    background-color: rgb(50, 160, 65);
    transform: translateY(3px);
}

#pause:hover {
    background-color: rgb(83, 139, 245);
    transform: translateY(3px);
}

#reset:hover {
    background-color: rgb(255, 87, 87);
    transform: translateY(3px);
}

/* Define o estilo do cronômetro quando a tela tiver pelo menos
 769 pixels de largura */
@media (max-width: 500px) {
    #timer {
        justify-content: center;
    }

    #display {
        font-size: 60px;
        width: 300px ;
        height: 300px;
    }

    #buttons div{
        padding: 25px;
    }

   img {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 501px) {
    #display {
        font-size: 100px;
        width: 500px;
        height: 500px;
    }

    #buttons div{
        padding: 40px;
    }

   img {
        width: 80px;
        height: 80px;
    }
}