:root {
    --primary-color: #32ABFF;
    --secondary-color: white;
    --bg-color: rgb(34, 34, 34);
}

/* Define regras de estilo para todos os elementos (*) na página */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Estilo para o corpo (body) da página */
body {
    font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif;
    background-color: var(--bg-color);
}

body>* {
    width: 100%;
}

header,
#home,
#img-perfil,
section>h1,
#cv,
.skills,
.skill-headers,
#projects-container .projects,
.project-btns-container,
#contacts div a {
    display: flex;
}

body,
a,
.progress,
.project-btns-container button {
    color: rgb(255, 255, 255);
}

header {
    justify-content: space-between;
}

/* Estilo para links (âncoras) */
a {
    text-decoration: none;
}

#menu li {
    list-style: none;
}

/* Estilo para a barra de menu (menu) */
header,
#home,
#about-me-section,
.skills,
.projects {
    align-items: center;
}

section>h1,
#cv,
.projects {
    justify-content: center;
}

#about-me-section,
.projects {
    text-align: center;
}

section>h1,
#heading {
    font-family: 'Ubuntu', sans-serif;
}

.apresentation-strings {
    color: var(--primary-color);
}

/* Estilo para o botão de currículo (cv) */
#cv {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 300ms;
}

/* Efeito de hover para o botão de currículo (cv) */
#cv:hover,
.progressbar {
    background-color: var(--primary-color);
}

.skill-headers {
    justify-content: space-between;
}

#img-perfil {
    border-radius: 50%;
    margin: 0 auto;
}

.project-btns-container button,
.project-btns-container,
.projects {
    width: 100%;
}

.projects {
    position: relative;
    height: auto;
    padding-bottom: 50%;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
}

.projects div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.projects:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

#calculator-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.501)),
        url("../images/project_card_background/calculadora.png");
}

#timer-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.511), rgba(0, 0, 0, 0.494)),
        url("../images/project_card_background/cronometro.png");
}

#to-do-list-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.487)),
        url("../images/project_card_background/listadetarefa.png");

}

.project-btns-container {
    position: absolute;
    bottom: 0px;
}

.see-code {
    background-color: #06641b;
}

.see-code:hover {
    background-color: #099227;
}

.test-code {
    background-color: #025bcf;
}

/* Estilo para botões de código (code-btns) */
.code-btns {
    background-color: rgb(77, 77, 77);
    transition: 300ms;
}

/* Estilo para botões de teste (test-btns) */
.test-btns {
    background-color: rgb(23, 114, 35);
    transition: 300ms;
}

/* Efeito de hover para botões de código (code-btns) */
.code-btns:hover {
    background-color: rgb(97, 97, 97);
    transform: translateY(-3px);
}

/* Efeito de hover para botões de teste (test-btns) */
.test-btns:hover {
    background-color: rgb(47, 153, 61);
    transform: translateY(-3px);
}

/* Estilo para o contêiner de informações de contato (contacts) */
#contacts div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Estilo para links dentro do contêiner de informações de contato (contacts) */
#contacts div a {
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

/* Media query para estilos responsivos em telas com largura máxima de 767px */
@media (max-width: 767px) {

    /* Ajusta o tamanho da fonte e o preenchimento para todos os elementos filhos diretos do corpo */
    body {
        padding: 0 10px;
        font-size: 16px;
    }

    header h1 {
        font-size: 18px;
    }

    /* Define o tamanho do ícone do menu */
    #menu-icon {
        width: 40px;
    }

    /* Estilos para o menu quando a tela é pequena */
    .menu-opened {
        display: block;
        position: absolute;
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: 12px;
        margin: 5px;
        right: 0;
    }

    /* Ajusta o preenchimento para itens de lista (li) dentro do menu */
    .menu-opened li {
        padding: 10px;
    }

    /* Define o estilo de fundo ao passar o mouse sobre itens do menu */
    .menu-opened li:hover {
        background-color: rgb(224, 224, 224);
    }

    /* Ajusta o peso da fonte e a cor dos links dentro do menu */
    .menu-opened li a {
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }

    /* Ajusta o estilo da imagem de perfil */
    #img-perfil {
        width: 100px;
    }

    /* Define a margem superior para as seções */
    section {
        margin-bottom: 90px;
    }

    section>h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    #heading {
        font-size: 38px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    #description {
        margin: 20px 0;
    }

    /* Ajusta o preenchimento, o tamanho da fonte e o alinhamento para o botão de currículo (cv) */
    #cv {
        padding: 5px;
        font-size: 20px;
    }

    .skills {
        display: block;
        margin-bottom: 40px;
        gap: 40px;
    }

    .skill-headers {
        margin-bottom: 10px;
    }

    .skills h2 {
        margin-top: 10px;
    }

    .progress {
        height: 25px;
    }

    .projects {
        margin-bottom: 10px;
    }

    /* Ajusta o tamanho da imagem dentro do contêiner de informações de contato */
    #contacts div img {
        width: 80px;
    }
}

/* Media query para estilos responsivos em telas com largura máxima de 767px */
@media (min-width: 768px) {

    /* Ajusta o tamanho da fonte para o corpo */
    body {
        font-size: 15px;
        padding: 0 50px;
    }

    header {
        margin-top: 10px;
    }

    /* Define a cor de fundo ao passar o mouse sobre itens do menu */
    .menu-item:hover {
        background-color: rgba(23, 70, 158, 0.5);
    }

    /* Oculta o ícone do menu */
    #menu-icon {
        display: none;
    }

    section>h1 {
        font-size: 45px;
        margin: 40px 0;
    }

    /* Configura a seção "home" para exibir seus elementos em uma coluna */
    #home {
        margin: 50px 0;
        height: 100vw;
        width: 60%;

    }

    #heading {
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 500;
    }

    /* Ajusta a margem para a descrição */
    #description {
        margin: 30px 0;
    }

    /* Ajusta o preenchimento e o tamanho da fonte para o botão de currículo (cv) */
    #cv {
        padding: 20px;
    }

    /* Ajusta o estilo da imagem de perfil */
    #img-perfil {
        width: 150px;
    }

    .image-border {
        padding: 20px;
    }

    .skills {
        display: block;
        margin-bottom: 40px;
        width: 100%;
        gap: 40px;
        align-items: center;
    }

    .skill-headers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .skills h2 {
        margin-top: 10px;
    }

    .progress {
        height: 25px;
    }

    section {
        margin-top: 50px;
    }

    #projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    /* Ajusta o tamanho da imagem dentro do contêiner de informações de contato */
    #contacts div img {
        width: 130px;
    }
}

/* Media query para telas com largura mínima de 1200px */
@media (min-width: 1024px) {

    /* Ajusta o tamanho da fonte para o corpo */
    body {
        font-size: 18px;
        padding: 0 80px;
    }

    header {
        margin-top: 10px;
    }

    #menu {
        display: flex;
        gap: 20px;
    }

    /* Ajusta o estilo dos itens do menu */
    .menu-opened li {
        color: var(--secondary-color);
        display: flex;
        padding: 10px;
        transition: 300ms;
    }

    /* Define a cor de fundo ao passar o mouse sobre itens do menu */
    .menu-item:hover {
        background-color: rgba(23, 70, 158, 0.5);
    }

    /* Oculta o ícone do menu */
    #menu-icon {
        display: none;
    }

    section {
        margin-top: 50px;
    }

    section>h1 {
        font-size: 45px;
        margin: 60px 0;
    }

    /* Configura a seção "home" para exibir seus elementos em uma coluna */
    #home {
        width: 55%;
    }

    #heading {
        font-size: 60px;
        letter-spacing: 2px;
        font-weight: 500;
    }

    /* Ajusta a margem para a descrição */
    #description {
        margin: 30px 0;
    }

    /* Ajusta o preenchimento e o tamanho da fonte para o botão de currículo (cv) */
    #cv {
        padding: 30px;
    }

    /* Ajusta o estilo da imagem de perfil */
    #img-perfil {
        width: 200px;
    }

    .image-border {
        padding: 20px;
    }

    .skills {
        display: block;
        margin-bottom: 40px;
        width: 100%;
        gap: 40px;
        align-items: center;
    }

    .skill-headers {
        margin-bottom: 10px;
    }

    .skills h2 {
        margin-top: 10px;
    }

    .progress {
        height: 25px;
    }

    #projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px
    }



    /* Ajusta o tamanho da imagem dentro do contêiner de informações de contato */
    #contacts div img {
        width: 130px;
    }
}