:root {
    --primary-color: #32ABFF;
    --secondary-color: rgb(34, 34, 34);
}

/* Define regras de estilo para todos os elementos (*) na página */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Estilo para o corpo (body) da página */
body {
    font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif;
    background-color: var(--secondary-color);
    color: white;
}

body > * {
    margin: 0 auto;
}

header,
#menu,
section > h1,
#cv,
.skills,
.skill-headers,
#projects-grid,
.projects,
.project-btns-container,
#contacts div a {
    display: flex;
}

header {
    justify-content: space-between;
}

/* Estilo para links (âncoras) */
a {
    text-decoration: none;
}

/* Estilo para a barra de menu (menu) */
#menu,
#about-me-section p,
.skills,
.projects {
    align-items: center;
}

section > h1 {
    justify-content: center;
}

#menu {
    justify-content: right;
}

/* Estilo para itens de lista não ordenada (li) dentro do menu */
#menu li {
    list-style: none;
}

section > h1,
#heading {
    font-family: 'Ubuntu', sans-serif;
}

.apresentation-strings {
    color: var(--primary-color);
}

/* Estilo para a seção "doing" */
a,
.progress {
    color: rgb(255, 255, 255);
}

/* Estilo para o botão de currículo (cv) */
#cv {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    justify-content: center;
    transition: 300ms;
}

/* Efeito de hover para o botão de currículo (cv) */
#cv:hover {
    background-color: var(--primary-color);
}

#img-perfil {
    border-radius: 50%;
}
.progressbar {
    background-color: var(--primary-color);
}

#projects-grid {
    grid-column: auto;
    flex-wrap: wrap;
}

.projects {
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.projects:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

#calculator-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.816)),
        url("../images/project_card_background/calculadora.png");
}

#timer-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.816)),
        url("../images/project_card_background/cronometro.png");
}

#to-do-list-project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.816)),
        url("../images/project_card_background/cronometro.png");

}


.project-btns-container button,
.project-btns-container {
    width: 100%;
}

.project-btns-container {
    position: absolute;
    bottom: 0px;
}

.project-btns-container button {
    color: white;
    border: none;
}

.see-code {
    background-color: #06641b;
}

.see-code:hover {
    background-color: #099227;
}

.test-code {
    background-color: #025bcf;
}

/* Estilo para botões de código (code-btns) */
.code-btns {
    background-color: rgb(77, 77, 77);
    transition: 300ms;
}

/* Estilo para botões de teste (test-btns) */
.test-btns {
    background-color: rgb(23, 114, 35);
    transition: 300ms;
}

/* Efeito de hover para botões de código (code-btns) */
.code-btns:hover {
    background-color: rgb(97, 97, 97);
    transform: translateY(-3px);
}

/* Efeito de hover para botões de teste (test-btns) */
.test-btns:hover {
    background-color: rgb(47, 153, 61);
    transform: translateY(-3px);
}

/* Estilo para o contêiner de informações de contato (contacts) */
#contacts div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Estilo para links dentro do contêiner de informações de contato (contacts) */
#contacts div a {
    justify-content: space-evenly;
}

.hidden {
    display: none;
}


/* Media query para estilos responsivos em telas com largura máxima de 767px */
@media (max-width: 767px) {

    /* Ajusta o tamanho da fonte e o preenchimento para todos os elementos filhos diretos do corpo */
    body {
        padding: 5px;
    }

    body > * {
        width: 100%;
    }

    /* Define o tamanho do ícone do menu */
    #menu-icon {
        width: 40px;
    }

    /* Estilos para o menu quando a tela é pequena */
    #menu {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: 12px;
        margin: 5px;
    }

    /* Ajusta o preenchimento para itens de lista (li) dentro do menu */
    #menu li {
        padding: 10px;
    }

    /* Define o estilo de fundo ao passar o mouse sobre itens do menu */
    #menu li:hover {
        background-color: rgba(48, 100, 177, 0.404);
    }

    /* Ajusta o peso da fonte e a cor dos links dentro do menu */
    #menu li a {
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }

    /* Ajusta o preenchimento e a margem para a seção "home" */
    #home {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Ajusta o tamanho da fonte para as seções "hello" e "doing" */
    #heading {
        font-size: 20px;
    }

    /* Ajusta o tamanho da fonte e a margem para a descrição */
    #description {
        font-family: 'Roboto Condensed', sans-serif;
        margin: 20px 0;
    }

    /* Ajusta o preenchimento, o tamanho da fonte e o alinhamento para o botão de currículo (cv) */
    #cv {
        padding: 5px;
        font-size: 20px;
    }

    /* Ajusta o estilo da imagem de perfil */
    #img-perfil {
        width: 200px;
        margin: 20px 0;
    }

    /* Define a margem superior para as seções */
    section {
        margin-bottom: 20px;
    }

    section > h1 {
        font-size: 20px;
        margin: 60px 0;
    }

    /* Configura a seção "home" para exibir seus elementos em uma coluna */
    #home {
        text-align: center;
        height: 100vh;
    }

    #heading {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 500;
    }

    /* Ajusta a margem para a descrição */
    #description {
        margin: 30px 0;
    }

    /* Ajusta o preenchimento e o tamanho da fonte para o botão de currículo (cv) */
    #cv {
        padding: 10px;
    }

    /* Ajusta o estilo da imagem de perfil */
    #img-perfil {
        display: flex;
        width: 200px;
        margin: 0 auto;
    }

    /* Ajusta o tamanho da fonte para o cabeçalho nível 2 (h2) */
    h2 {
        font-size: 1.8em;
    }

    .image-border {
        padding: 20px;
    }

    .skills {
        display: block;
        margin-bottom: 40px;
        width: 100%;
        gap: 40px;
        align-items: center;
    }

    .skill-headers {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .skills h2 {
        margin-top: 10px;
    }

    .progress {
        height: 25px;
    }

    #projects-grid {
        gap: 20px;
    }

    .projects {
        width: 250px;
        height: 150px;
        margin: 0 auto;
    }

    /* Ajusta o tamanho da imagem dentro do contêiner de informações de contato */
    #contacts div img {
        width: 130px;
    }
}

/* Media query para telas com largura mínima de 1200px */
@media (min-width: 1024px) {

    /* Ajusta o tamanho da fonte para o corpo */
    body {
        font-size: 18px;
    }

    body>* {
        width: 1024px;
    }

    /* Ajusta o estilo dos itens do menu */
    #menu li {
        display: flex;
        padding: 10px;
        transition: 300ms;
    }

    /* Define a cor de fundo ao passar o mouse sobre itens do menu */
    .menu-item:hover {
        background-color: rgba(23, 70, 158, 0.5);
    }

    /* Oculta o ícone do menu */
    #menu-icon {
        display: none;
    }

    /* Define a margem superior para as seções */
    section {
        margin-bottom: 150px;
    }

    section>h1 {
        font-size: 45px;
        margin: 60px 0;
    }

    /* Configura a seção "home" para exibir seus elementos em uma coluna */
    #home {
        align-items: center;
        display: grid;
        height: 100vh;
        grid-template-columns: 3fr 2fr;

    }

    #heading {
        font-size: 60px;
        letter-spacing: 2px;
        font-weight: 500;
    }

    /* Ajusta a margem para a descrição */
    #description {
        margin: 30px 0;
    }

    /* Ajusta o preenchimento e o tamanho da fonte para o botão de currículo (cv) */
    #cv {
        padding: 20px;
        font-size: 2.0em;
    }

    /* Ajusta o estilo da imagem de perfil */
    #img-perfil {
        display: flex;
        width: 200px;
        margin: 0 auto;
    }

    /* Ajusta o tamanho da fonte para o cabeçalho nível 2 (h2) */
    h2 {
        font-size: 1.8em;
    }

    .image-border {
        padding: 20px;
    }

    .skills {
        display: block;
        margin-bottom: 40px;
        width: 100%;
        gap: 40px;
        align-items: center;
    }

    .skill-headers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .skills h2 {
        margin-top: 10px;
    }

    .progress {
        height: 25px;
    }

    #projects-grid {
        gap: 20px;
    }

    .projects {
        width: 400px;
        height: 200px;
    }

    /* Ajusta o tamanho da imagem dentro do contêiner de informações de contato */
    #contacts div img {
        width: 130px;
    }
}