* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root > * {
  padding: 0 10px;
}
@media (min-width: 1000px) {
  #root > * {
    padding: 0 10%;
  }
}

body,
a {
  color: white;
  text-decoration: none;
}

body {
  background-color: rgb(26, 26, 26);
  font-family: "Roboto", sans-serif, "Ubuntu", sans-serif;
  font-size: 14px;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

#presentation,
#about-me-section,
#skills-section,
.project,
section > h1,
#contact {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  background-color: rgb(36, 36, 36);
}
header h1 {
  margin: 0;
  font-size: 16px;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 22px;
  }
}
@media (min-width: 1000px) {
  header h1 {
    font-size: 26px;
  }
}
header #menu-btn {
  font-size: 26px;
}
@media (min-width: 768px) {
  header #menu-btn {
    font-size: 32px;
  }
}
header .menu-list {
  display: none;
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  z-index: 999;
  width: 300px;
  padding: 0;
  margin-top: 30px;
}
header .menu-list.active {
  display: block;
}
header .menu-list li {
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}
header .menu-list li a {
  font-weight: bold;
}
@media (min-width: 1000px) {
  header nav {
    padding: 10px 0;
  }
  header nav #menu-btn {
    display: none;
  }
  header .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 30px;
    margin: 0;
  }
  header .menu-list.active {
    display: flex;
  }
  header .menu-list li {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(50, 170, 255, 0);
  }
  header .menu-list li:hover {
    transition: ease 500ms;
    border-bottom: 1px solid #32ABFF;
  }
}

section {
  margin-top: 50px;
}
section > h1 {
  margin: 30px auto;
}
@media (min-width: 1000px) {
  section > h1 {
    margin: 40px auto;
  }
}

#presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}
#presentation #heading {
  font-size: 40px;
}
#presentation .apresentation-strings {
  color: #32ABFF;
}
#presentation #description {
  margin: 40px 0;
}
#presentation #cv {
  border: 1px solid #32ABFF;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  transition: 300ms;
  margin-top: 50px;
  padding: 20px 40px;
  font-size: 20px;
  width: 200px;
}
@media (min-width: 768px) {
  #presentation #cv {
    border: 2px solid #32ABFF;
    border-radius: 12px;
  }
}
@media (min-width: 1000px) {
  #presentation #cv {
    border: 2px solid #32ABFF;
    border-radius: 16px;
  }
}
#presentation #cv:hover {
  background-color: #32ABFF;
}
#presentation img {
  display: none;
}
@media (min-width: 768px) {
  #presentation {
    padding: 0 100px;
  }
  #presentation #heading {
    margin-top: 30px;
    font-size: 60px;
  }
}
@media (min-width: 1000px) {
  #presentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  #presentation #heading {
    font-size: 70px;
  }
  #presentation #description {
    margin: 30px 0;
  }
  #presentation img {
    display: flex;
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: 1000px) {
  #about-me-section img {
    display: none;
  }
}

.perfil-img {
  border-radius: 50%;
  margin: 0 auto;
  width: 150px;
  margin: 20px 0;
}

#skills-section {
  flex-direction: column;
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#skills-container .skills {
  display: block;
  gap: 40px;
}
#skills-container .skills h2 {
  margin-top: 10px;
}
@media (min-width: 768px) {
  #skills-container img {
    width: 80px;
  }
}
@media (min-width: 1000px) {
  #skills-container {
    gap: 40px;
  }
  #skills-container img {
    width: 110px;
  }
}

#projects-container .project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;
  height: 50%;
}
#projects-container .project .program-lang-img {
  margin: 0 3px;
  width: 40px;
}
#projects-container .project .background-project {
  filter: brightness(0.4);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects-container .project div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projects-container .project:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
#projects-container .project-details {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 90vh;
  height: auto;
  top: 40px;
  position: fixed;
  background-color: rgb(46, 46, 46);
  color: white;
  padding-bottom: 10px;
}
#projects-container .project-details #content-grid > div {
  padding: 0 10px;
}
#projects-container .project-details #heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 30px;
}
#projects-container .project-details #content-grid {
  overflow-y: auto;
}
#projects-container .project-details img {
  width: 100%;
}
#projects-container .project-details h1 {
  margin-top: 10px;
}
#projects-container .project-details #actions-btn a {
  width: 100%;
}
#projects-container .project-details .btn {
  background-color: rgb(1, 69, 255);
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  #projects-container .project {
    height: 100%;
  }
  #projects-container .project-details #actions-btn {
    display: flex;
    gap: 10px;
  }
}
@media (min-width: 1000px) {
  #projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #projects-container .project-details {
    padding: 15px;
    height: 800px;
    background-color: rgb(56, 56, 56);
    color: white;
  }
  #projects-container .project-details #content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #projects-container .project-details #content-grid > div {
    overflow-y: auto;
  }
  #projects-container .project-details #actions-btn a {
    margin: 0;
    font-size: 20px;
  }
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
  color: #fff;
  font-family: Arial, sans-serif;
  height: 140px;
  margin-top: 50px;
}
footer h1 {
  font-size: 28px;
  margin-top: 15px;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
footer div a {
  display: inline-block;
  width: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 10px;
}
footer div a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer div a img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}
@media (min-width: 768px) {
  footer {
    height: 180px;
  }
  footer h1 {
    font-size: 32px;
  }
  footer div {
    margin: 30px 0;
  }
  footer div a {
    width: 50px;
  }
  footer div a img {
    border: 3px solid #fff;
  }
}
@media (min-width: 1000px) {
  footer {
    height: 200px;
  }
  footer h1 {
    font-size: 36px;
  }
  footer div a {
    width: 60px;
    margin: 0 15px;
  }
  footer div a img {
    border: 3px solid #fff;
  }
}

.overlay {
  display: flex;
  align-items: none;
  justify-content: center;
  position: fixed;
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
  top: 35px;
  left: 0;
  z-index: 900;
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
