* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  #root > * {
    font-size: 16px;
    padding: 0 10px;
  }
}

body,
header {
  background-color: rgb(36, 36, 36);
  font-family: "Roboto", sans-serif, "Ubuntu", sans-serif;
}

header {
  justify-content: space-between;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 999;
}
header ul {
  list-style: none;
  gap: 15px;
  width: 300px;
}
@media (max-width: 767px) {
  header {
    padding: 0 10px;
  }
  header h1 {
    margin: 0;
    font-size: 18px;
  }
}

header,
header ul,
.overlay,
#home,
#img-perfil,
section > h1,
#cv,
#skills-section,
#skills-container,
#projects-container .project,
.project-details p,
.project-btns-container,
#contacts div a {
  display: flex;
}

@media (max-width: 767px) {
  .menu-list {
    position: absolute;
    justify-content: center;
    transition: 0.5s;
    display: block;
    padding: 0;
  }
  .menu-list li {
    text-align: center;
    margin-top: 50px;
  }
  .menu-list li a {
    font-weight: bolder;
  }
}

#skills-section {
  flex-direction: column;
}

body,
a {
  color: white;
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

.overlay {
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  z-index: 1000;
}

@media (max-width: 767px) {
  #menu-btn {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  #menu-btn {
    display: none;
  }
}

header,
#about-me-section,
#skills-container,
#skills-section,
.project {
  align-items: center;
  text-align: center;
}

@media (min-width: 1024px) {
  #home {
    height: 90vh;
    width: 35%;
    margin: 0;
  }
}

#heading {
  margin-top: 75px;
}
@media (max-width: 767px) {
  #heading {
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  #heading {
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 500;
  }
}

section > h1,
#cv,
.project {
  justify-content: center;
}

section > h1,
#heading {
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 767px) {
  #description {
    margin: 20px 0;
  }
}
@media (min-width: 1024px) {
  #description {
    margin: 30px 0;
  }
}

.apresentation-strings {
  color: #32ABFF;
}

#cv {
  border: 1px solid #32ABFF;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  transition: 300ms;
}
#cv:hover {
  background-color: #32ABFF;
}
@media (max-width: 767px) {
  #cv {
    padding: 10px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  #cv {
    padding: 25px;
    font-size: 30px;
  }
}

#img-perfil {
  border-radius: 50%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #img-perfil {
    width: 120px;
  }
}
@media (min-width: 1024px) {
  #img-perfil {
    width: 200px;
  }
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  #skills-container {
    gap: 15px;
  }
  #skills-container .skills {
    display: block;
    gap: 40px;
  }
  #skills-container .skills h2 {
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  #skills-container {
    width: 500px;
    gap: 40px;
  }
  #skills-container img {
    width: 80px;
  }
}

#projects-container .project {
  position: relative;
  width: 600px;
  height: 400px;
  z-index: 3;
}
#projects-container .project .background-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects-container .project div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#projects-container .project:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
#projects-container .project-details {
  top: 50px;
  position: fixed;
  background-color: rgb(56, 56, 56);
  color: white;
}
#projects-container .project-details .project-description {
  overflow: auto visible;
}
@media (max-width: 767px) {
  #projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  #projects-container .project {
    margin-bottom: 10px;
    width: 100%;
    height: 50%;
  }
  #projects-container .project .background-project {
    filter: brightness(0.4);
  }
  #projects-container .project .program-lang-img {
    margin: 0 3px;
    width: 40px;
  }
  #projects-container .project-details {
    width: 90vw;
    height: 80vh;
  }
  #projects-container .project-details .project-description {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
  }
  #projects-container #actions-btn {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }
  #projects-container #actions-btn a {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  #projects-container #projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

#contact {
  background-image: url(../images/contact_background.jpg);
  background-size: cover;
  width: 100vw;
}
#contact div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#contact div a {
  text-align: center;
}
@media (max-width: 767px) {
  #contact {
    padding: 10px 0;
  }
  #contact h1 {
    margin-top: 0;
  }
  #contact div {
    margin-top: 50px;
  }
  #contact img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  #contact #contacts div img {
    width: 130px;
  }
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
