* {
    margin: 0;
    padding: 0
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgb(34, 139, 192), rgb(30, 105, 139));
    height: 100vh
}

#content {
    background-color: rgb(255, 255, 255)
}

form {
    display: flex
}

.edit-form-container {
    display: block
}

input {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 7px
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.task-done {
    background-color: rgb(105, 104, 104);
    text-decoration: line-through
}

button {
    border: none;
    background-color: rgb(5, 189, 45)
}

button:hover {
    cursor: pointer
}

button img {
    display: flex
}

.edit-btn {
    background-color: rgb(75, 146, 240)
}

.delete-btn {
    background-color: rgb(240, 126, 126)
}

.hide {
    display: none
}

@media (max-width: 767px) {
    #content {
        margin: 1rem;
        padding: 1rem;
    }

    form {
        gap: 0.5rem;
        margin: 1rem 0;
    }

    img {
        width: 25px;
        height: 25px
    }

    input {
        padding-left: 0.5rem;
    }

    button {
        padding: 0.25rem
    }

    .to-do-list {
        scroll-behavior: auto;
        max-height: 100vh;
        overflow: auto;
    }

    .task {
        padding: 0.2rem 0;
        padding: 0.5em;
        font-weight: 400;
        display: block
    }

    .task-title {
        padding: 0.5rem 0;
    }

    .task-btns-container {
        display: flex;
        gap: 0.5rem;
        justify-content: end;
    }

}