/* Define margem, preenchimento e modelo de caixa para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgb(34, 139, 192), rgb(30, 105, 139));
    height: 100vh;
}

/* Estilo para o cabeçalho */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 100vw;
}

/* Estilo para a barra de navegação */
nav {
    display: flex;
    align-items: center;
}

/* Estilos para contêineres de formulários e elementos de entrada */
#task-form-container,
form,
input,
.tasks,
#edit-form-container {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

/* Estilo para o formulário */
form {
    display: flex;
}

/* Estilo para campos de entrada */
input {
    width: 100%;
    border: none;
    outline: 0;
    background-color: rgb(212, 212, 212);
}

form button {
    background-color: rgb(11, 185, 35);
}

/* Estilo para a lista de tarefas */
#tasks-container {
    scroll-behavior: auto;
}

/* Estilo para uma tarefa individual */
.tasks {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

/* Estilo para o título da tarefa */
.task-titles {
    display: flex;
    align-items: center;
    text-wrap: wrap;
}

/* Estilo para botões */
button {
    border: none; 
}

/* Estilo para botões quando o mouse passa por cima */
button:hover {
    cursor: pointer;
}

/* Estilo para tarefa concluída */
.task-done {
    text-decoration: line-through;
    background-color: rgba(78, 78, 78, 0.466);
}

/* Estilo para a imagem dentro dos botões */
button img {
    display: flex;
}

/* Estilo para o contêiner de botões de tarefa */
.task-btns-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.done-btns {
    background-color: rgb(5, 189, 45);
}

/* Estilo para botão de cancelar edição */
#cancel-edit-btn {
    background-color: rgb(133, 132, 132);
}

/* Estilo para botão de edição */
.edit-btns {
    background-color: rgb(75, 146, 240);
}

/* Estilo para botão de exclusão */
.delete-btns {
    background-color: rgb(240, 126, 126);
}

/* Classe para ocultar elementos */
.hide {
    display: none;
}

@media only screen and (max-width: 767px) {
    body {
        align-items: center;
    }

    body > * {
        width: 100vw;
        padding: 8px;
    }

    #task-form-container,
    #edit-form-container {
        padding: 8px;
        margin: 8px 0;
    }

    #submit-edit-btn , #task-form-submit-btn {
        margin-left: 5px;
    }

    form {
        gap: 8px;
    }

    input{
        padding-left: 10px;
    }

    .tasks {
        gap: 8px;
        padding: 8px;
        margin: 10px 0;
    }

    .task-titles {
        width: 100vw
    }

    .task-btns-container {
        gap: 8px;
    }

    button {
        padding: 3px;
    }
    
    button i {
        width: 80px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        align-items: center;
    }

    body > * {
        width: 768px;
        padding: 8px;
    }

    #task-form-container,
    #edit-form-container {
        padding: 10px;
        margin: 20px 0;
    }

    #submit-edit-btn , #task-form-submit-btn {
        margin-left: 5px;
    }

    form {
        gap: 10px;
    }

    input{
        padding-left: 10px;
    }

    .tasks {
        padding: 10px;
        margin: 10px 0;
    }

    .task-btns-container {
        gap: 10px;
    }

    button {
        padding: 5px;
    }
    
    button i {
        width: 80px;
        font-size: 22px;
    }
}

/* Estilos para mídia de tela com largura mínima de 768 pixels */
@media only screen and (min-width: 1024px) {
    body {
        align-items: center;
    }

    body > * {
        width: 1024px;
        padding: 10px;
    }

    #task-form-container,
    #edit-form-container {
        padding: 10px;
        margin: 20px 0;
    }

    #submit-edit-btn , #task-form-submit-btn {
        margin-left: 5px;
    }

    form {
        gap: 10px;
    }

    input{
        padding-left: 10px;
    }

    .tasks {
        padding: 10px;
        margin: 10px 0;
    }

    .task-btns-container {
        gap: 10px;
    }

    button {
        padding: 5px;
    }
    
    button i {
        width: 80px;
        font-size: 22px;
    }
}