:root {
    --bg-color: linear-gradient(rgb(34, 139, 192), rgb(30, 105, 139));
    --done-btn-color: rgb(14, 201, 39);
    --done-color: rgba(255, 255, 255, 0.182);
    --edit-btn-color: rgb(142, 180, 231);
    --delete-btn-color: rgb(240, 126, 126);
}


/* Define margem, preenchimento e modelo de caixa para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--bg-color);
    height: 100vh;
}

/* Estilos para contêineres de formulários e elementos de entrada */
#task-form-container,
form,
input,
.tasks,
#edit-form-container {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

#edit-form-container {
    position: relative;
}

form,
.tasks,
.task-titles,
.task-btns-container,
#edit-form-container header {
    display: flex;
}

/* Estilo para campos de entrada */
input {
    width: 100%;
    border: none;
    outline: 0;
    background-color: rgb(212, 212, 212);
}

/* Estilo para botões */
button {
    border: none;
}

/* Estilo para botões quando o mouse passa por cima */
i {
    cursor: pointer;
}

/* Estilo para a lista de tarefas */
#tasks-container {
    scroll-behavior: auto;
}

/* Estilo para uma tarefa individual */
.tasks {
    background-color: white;
    justify-content: space-between;
}

.task-titles,
.task-btns-container {
    align-items: center;
}

/* Estilo para o título da tarefa */
.task-titles {
    text-wrap: wrap;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* preto com 50% de transparência */
    z-index: 0;
}

#edit-form-container {
    position: absolute;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#edit-form-container header {
    justify-content: space-between;
}

/* Estilo para tarefa concluída */
.task-done {
    text-decoration: line-through;
    background-color: var(--done-color)
}

/* Estilo para o contêiner de botões de tarefa */
.task-btns-container {
    justify-content: end;
}

.done-btns,
#edit-form button,
#task-form button {
    background-color: var(--done-btn-color);
}


/* Estilo para botão de edição */
.edit-btns {
    background-color: var(--edit-btn-color);
}

/* Estilo para botão de exclusão */
.delete-btns {
    background-color: rgb(240, 126, 126);
}

/* Classe para ocultar elementos */
.hide {
    display: none;
}

@media only screen and (min-width: 0px) {
    body > *,
    #task-form-container,
    #edit-form-container,
    .tasks,
    button {
        padding: 8px
    }

    body > * {
        width: 100vw;
    }

    form {
        gap: 8px;
    }

    input {
        padding-left: 10px;
    }

    #task-form-container,
    #edit-form-container {
        margin: 8px 0;
    }

    #edit-form-container header {
        margin-bottom: 40px;
    }

    #submit-edit-btn,
    #task-form-submit-btn {
        margin-left: 5px;
    }

    #cancel-edit-btn {
        font-size: 25px;
    }

    .tasks, .task-btns-container {
        gap: 8px;
    }

    .tasks {
        margin: 10px 0;
    }

    .task-titles {
        width: 100vw
    }

    button {
        font-size: 18px;
    }

    button i {
        width: 80px;
    }

}

@media only screen and (min-width: 768px) {
    body > *,
    #task-form-container,
    #edit-form-container,
    .tasks,
    button {
        padding: 10px;
    }

    body>* {
        width: 768px;
    }

    button {
        font-size: 22px;
    }

    button i {
        width: 110px;
    }

    #task-form-container,
    #edit-form-container {
        margin: 20px 0;
    }

    #edit-form-container header {
        margin-bottom: 50px;
    }

    #cancel-edit-btn {
        font-size: 30px;
    }

    #submit-edit-btn,
    #task-form-submit-btn {
        margin-left: 5px;
    }

    form, .task-btns-container {
        gap: 10px;
    }

    input {
        padding-left: 10px;
        
    }

    .tasks {
        margin: 10px 0;
    }
}

/* Estilos para mídia de tela com largura mínima de 768 pixels */
@media only screen and (min-width: 1024px) {
    body {
        align-items: center;
    }

    body>* {
        width: 1024px;
    }
}