/* Define a cor de fundo do corpo da página e regras gerais para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Define o modelo de caixa para incluir margens e bordas */
}

@mixin DisplayBorder($w) {
    border: $w solid rgb(0, 255, 157);

}

/* Define o estilo do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Define o estilo do display principal */
    #display {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(82, 81, 81);
        border-radius: 50%;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* Define o estilo dos botões de controle */
#buttons-container {
    flex-direction: row;

    /* Define o estilo para os botões de início, pausa e reset */
    div {
        border-radius: 50%;
        transition: 100ms;
        /* Transição suave de 100 milissegundos para animações */
    }

    /* Define o estilo do botão de início */
    #start {
        background-color: rgb(50, 160, 65);

        /* Define o estilo dos botões quando passam o mouse por cima */
        &:hover {
            background-color: rgb(22, 114, 35);
            transform: translateY(3px);
            /* Efeito de levantamento quando hover */
        }

        &start:active {
            background-color: rgb(50, 160, 65);
        }

    }

    /* Define o estilo do botão de pausa */
    #pause {
        background-color: rgb(83, 139, 245);

        &:hover {
            background-color: rgb(56, 96, 170);
            transform: translateY(3px);
        }

        &:active {
            background-color: rgb(83, 139, 245);
        }
    }

    /* Define o estilo do botão de reset */
    #reset {
        background-color: rgb(255, 87, 87);

        &:hover {
            background-color: rgb(141, 80, 80);
            transform: translateY(3px);
        }

        &:active {
            background-color: rgb(255, 87, 87);
        }
    }
}



/* Define o estilo do cronômetro quando a tela tiver largura menor que 768 pixels */
@media (max-width: 768px) {

    body {
        height: 100vh;
        /* Ocupa a altura total da janela de visualização */
        padding: 3px;
        font-size: 30px;

        #display {
            @include DisplayBorder(5px);
            font-size: 50px;
            width: 270px;
            height: 270px;
            margin-bottom: 10px;
        }

        #buttons-container div {
            padding: 20px;
            margin: 10px;
        }
    }
}

/* Define o estilo do cronômetro quando a tela tiver largura igual ou maior que 768 pixels */
@media (min-width: 769px) {

    body {
        height: 100vh;
        /* Ocupa a altura total da janela de visualização */
        padding: 10px;
        font-size: 85px;

        #display {
            @include DisplayBorder(8px);
            font-size: 100px;
            width: 600px;
            height: 600px;
            margin-bottom: 50px;
        }

        #buttons-container div {
            padding: 30px;
            margin: 25px;

        }
    }

}