// Define variáveis globais
$primary-color: #32ABFF;
$secondary-color: white;
$bg-color: rgb(36, 36, 36);
$font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif;

@mixin flex-container($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin responsive-font($size-mobile, $size-tablet, $size-desktop) {
  font-size: $size-mobile;

  @include tablet() {
    font-size: $size-tablet;

  }

  @include desktop() {
    font-size: $size-desktop;
  }
}

@mixin responsive-border($size-mobile, $radius-mobile, $size-tablet, $radius-tablet, $size-desktop, $radius-desktop) {
  border: $size-mobile solid $primary-color;
  border-radius: $radius-mobile;

  @include tablet() {
    border: $size-tablet solid $primary-color;
    border-radius: $radius-tablet;
  }

  @include desktop() {
    border: $size-desktop solid $primary-color;
    border-radius: $radius-desktop;
  }
}

// Regras de estilo para todos os elementos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Ajusta o tamanho da fonte e o preenchimento para todos os elementos filhos diretos do corpo
#root>* {
  padding: 0 10px;

  @include desktop() {
    padding: 0 10%;
  }
}

body,
a {
  color: $secondary-color;
  text-decoration: none;
}

body {
  background-color: $bg-color;
  font-family: $font-family;
  @include responsive-font(16px, 18px, 22px);
}

// Estilos para links (âncoras)
a {
  text-decoration: none;
}

#presentation,
#about-me-section,
#skills-section,
.project,
section>h1,
#contact {
  text-align: center;
}

header {
  @include flex-container(center, space-between);
  width: 100%;
  padding: 0 10px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  background-color: $bg-color;

  h1 {
    margin: 0;
    @include responsive-font(18px, 24px, 28px);

  }

  #menu-btn {
    @include responsive-font(26px, 32px, null)
  }

  .menu-list {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 999;
    visibility: 2;
    width: 300px;
    margin-top: 10px;

    &.active {
      display: block;
    }

    li {
      list-style: none;
      text-align: center;
      margin-bottom: 50px;

      a {
        font-weight: bold;
      }
    }

  }

  @include desktop() {
    nav {
      padding: 10px 0;

      #menu-btn {
        display: none;
      }
    }

    .menu-list {
      width: 100%;
      display: flex;
      position: relative;
      gap: 15px;
      margin: 0;

      li {
        margin-bottom: 0px;
      }
    }
  }
}

section {
  margin-top: 50px;

  &>h1 {
    margin: 30px auto;
  }


  @include desktop() {
    &>h1 {
      margin: 40px auto;
    }
  }
}

#presentation {
  @include flex-container(center, center);
  flex-direction: column;
  padding: 0 10px;

  #heading {
    font-size: 40px;
  }

  .apresentation-strings {
    color: $primary-color;
  }

  #description {
    margin: 40px 0;
  }

  #cv {
    @include responsive-border(1px, 10px, 2px, 12px, 2px, 16px);
    font-weight: bolder;
    cursor: pointer;
    transition: 300ms;
    margin-top: 50px;
    padding: 20px 40px;
    font-size: 20px;
    width: 200px;

    &:hover {
      background-color: $primary-color;
    }
  }

  img {
    display: none
  }

  @include tablet() {
    padding: 0 100px;
  }

  @include desktop() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 100vh;
    margin: 0;

    #heading {
      font-size: 60px;
    }

    #description {
      margin: 30px 0;
    }

    img {
      display: flex;
      margin: 0 auto;
      width: 300px;
    }
  }
}



#about-me-section {
  @include desktop() {
    img {
      display: none
    }
  }
}

.perfil-img {
  border-radius: 50%;
  margin: 0 auto;

  width: 150px;
  margin: 20px 0;
}

#skills-section {
  flex-direction: column;
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  .skills {
    display: block;
    gap: 40px;

    h2 {
      margin-top: 10px;
    }
  }

  @include tablet() {
    img {
      width: 80px;
    }
  }

  @include desktop() {
    gap: 40px;

    img {
      width: 110px;
    }
  }
}

#projects-container {
  .project {
    position: relative;
    @include flex-container();
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
    height: 50%;

    .program-lang-img {
      margin: 0 3px;
      width: 40px;
    }

    .background-project {
      filter: brightness(0.4);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transition: 0.5s;
      transform: scale(1.05);
    }

  }

  .project-details {
    width: 90vw;
    max-height: 90vh;
    top: 50px;
    position: fixed;
    background-color: rgb(56, 56, 56);
    color: white;

    .project-description {
      overflow: auto visible;
      max-height: 300px;
      overflow-y: auto;
      padding: 10px;
    }
  }

  @include tablet() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .project {
      height: 100%;
    }

    .project-details {
      width: 60vw;
    }

  }

  @include desktop() {
    grid-template-columns: repeat(3, 1fr);

  }
}

footer {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 15px;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
  }

  @media (max-width: 768px) {
    div {
      gap: 10px;

      a {
        width: 35px;
        height: 35px;

        img {
          border: 1.5px solid #fff;
        }
      }
    }

    h1 {
      font-size: 20px;
    }
  }
}


.overlay {
  @include flex-container(none, center);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.842);
  width: 100%;
  height: 100%;
  top: 35px;
  left: 0;
  z-index: 900;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}


.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}