@use 'sass:math';

// Define variáveis globais
$primary-color: #32ABFF;
$secondary-color: white;
$bg-color: rgb(36, 36, 36);

// Regras de estilo para todos os elementos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Corrige o comportamento do box-sizing
}

// Estilos para o corpo e o cabeçalho
body,
header {
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif;
}

header {
  justify-content: space-between;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 999;

  ul {
    list-style: none;
    gap: 15px;
    width: 300px;
  }
}

@mixin flex-container {
  display: flex;
}

header,
header ul,
.overlay,
#home,
#img-perfil,
section>h1,
#cv,
#skills-section,
#skills-container,
#projects-container .project,
.project-details p,
.project-btns-container,
#contacts div a {
  @include flex-container;
}

#skills-section {
  flex-direction: column;
}

body,
a {
  color: $secondary-color;
}

// Estilos para links (âncoras)
a {
  text-decoration: none;
}

#menu,
#menu ul,
#overlay {
  padding: 0;
}

#menu li {
  list-style: none;
  border-bottom: 1px solid $bg-color;
  transition: 0.5s;

  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}

// Estilos para a barra de menu (menu)
header,
#about-me-section,
#skills-container,
#skills-section,
.project {
  align-items: center;
  text-align: center;
}

#heading {
  margin-top: 75px;
}


section>h1,
#cv,
.project {
  justify-content: center;
}

section>h1,
#heading {
  font-family: 'Ubuntu', sans-serif;
}

.apresentation-strings {
  color: $primary-color;
}

// Estilos para o botão de currículo (cv)
#cv {
  border: 1px solid $primary-color;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: $primary-color;
  }
}

#img-perfil {
  border-radius: 50%;
  margin: 0 auto;
}

.project-btns-container button,
.project-btns-container,
.project {
  width: 100%;
}

.project {
  position: relative;
  width: 600px;
  height: 400px;
  z-index: 3;
}

.project-details {
  top: 50px;
  position: fixed;
  background-color: rgb(56, 56, 56);
  color: white;

  p {
    overflow: auto visible;
  }

  div {
    display: grid ;
  }

 
  
}

.background-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

// Estilos para o contêiner de informações de contato (contacts)
#contact {
  background-image: url(../images/contact_background.jpg);
  background-size: cover;
  width: 100vw;

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
     text-align: center;
    }
  }
}

.overlay {
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  z-index: 1000;
}

.overflow-hidden {
  overflow: hidden;
}

// Media query para estilos responsivos em telas com largura máxima de 767px
@media (max-width: 767px) {

  // Ajusta o tamanho da fonte e o preenchimento para todos os elementos filhos diretos do corpo
  #root>* {
    font-size: 16px;
    padding: 0 10px;
  }

  header {
    padding: 0 10px;

    h1 {
      margin: 0;
      font-size: 18px;
    }
  }

  // Define o tamanho do ícone do menu
  #menu-btn {
    font-size: 30px;
  }

  #projects-container {
    @include flex-container();
  }

  .menu-list {
    position: absolute;
    justify-content: center;
    transition: 0.5s;
    display: block;
    padding: 0;

    li {
      text-align: center;
      margin-top: 50px;

      a {
        font-weight: bolder;
      }
    }
  }

  .menu-list li #presentation,
  #img-perfil {
    margin-top: 50px;
  }

  // Ajusta o estilo da imagem de perfil
  #img-perfil {
    width: 120px;
  }

  section>h1 {
    font-size: 30px;
    margin: 30px 0;
  }

  #heading {
   
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  #description {
    margin: 20px 0;
  }

  // Ajusta o preenchimento, o tamanho da fonte e o alinhamento para o botão de currículo (cv)
  #cv {
    padding: 10px;
    font-size: 20px;
  }

  .skills {
    display: block;
    gap: 40px;
  }

  #skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px
  }

  .skills h2 {
    margin-top: 10px;
  }

  .progress {
    height: 25px;
  }

  .project {
    margin-bottom: 10px;
    width: 100%;
    height: 50%;

    .background-project {
      filter: brightness(0.4);
    }

    .program-lang-img {
      width: 40px;
    }
  }

  #projects-container {
    flex-wrap: wrap;
  }

  .project-details {
    width: 90vw;
    height: auto;
    div {
      gap: 5px;
    }
    p {
      max-height: 300px;
    }
  }

  #contact {
    padding: 10px 0;
    height: 200px;
    
    h1{
      margin-top: 0;
    }

    div {
      margin-top: 50px;
    }

    img {
      width: 50px;
    }
  }

  .hidden {
    display: none;
  }
}

// Media query para telas com largura mínima de 1200px
@media (min-width: 1024px) {

  // Ajusta o tamanho da fonte para o corpo
  body {
    font-size: 18px;
  }

  // Oculta o ícone do menu
  #menu-btn {
    display: none;
  }

  section>h1 {
    font-size: 45px;
    margin: 60px 0;
  }

  // Configura a seção "home" para exibir seus elementos em uma coluna
  #home {
    height: 90vh;
    width: 35%;
    margin: 0;
  }

  #heading {
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 500;
  }

  // Ajusta a margem para a descrição
  #description {
    margin: 30px 0;
  }

  // Ajusta o preenchimento e o tamanho da fonte para o botão de currículo (cv)
  #cv {
    padding: 25px;
    font-size: 30px;
  }

  // Ajusta o estilo da imagem de perfil
  #img-perfil {
    width: 200px;
  }

  .image-border {
    padding: 20px;
  }

  #skills-container {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  #skills-container img {
    width: 80px;
  }

  .skill-headers {
    margin-bottom: 10px;
  }

  .skills h2 {
    margin-top: 10px;
  }

  .progress {
    height: 25px;
  }

  #projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }


  #contacts div img {
    width: 130px;
  }
}