@use 'sass:math';

// Define variáveis globais
$primary-color: #32ABFF;
$secondary-color: white;
$bg-color: rgb(36, 36, 36);

// Regras de estilo para todos os elementos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Corrige o comportamento do box-sizing
}

// Ajusta o tamanho da fonte e o preenchimento para todos os elementos filhos diretos do corpo
#root>* {
  @media (max-width: 767px) {
    font-size: 16px;
    padding: 0 10px;
  }
}

body,
header {
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif;
}

header {
  justify-content: space-between;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 999;

  ul {
    list-style: none;
    gap: 15px;
    width: 300px;
  }

  @media (max-width: 767px) {
    padding: 0 10px;

    h1 {
      margin: 0;
      font-size: 18px;
    }
  }
}

@mixin flex-container {
  display: flex;
}



header,
header ul,
.overlay,
#home,
#img-perfil,
section>h1,
#cv,
#skills-section,
#skills-container,
#projects-container .project,
.project-details p,
.project-btns-container,
#contacts div a {
  @include flex-container;
}

.menu-list {
  @media (max-width: 767px) {
    position: absolute;
    justify-content: center;
    transition: 0.5s;
    display: block;
    padding: 0;

    li {
      text-align: center;
      margin-top: 50px;

      a {
        font-weight: bolder;
      }
    }
  }
}

#skills-section {
  flex-direction: column;
}

body,
a {
  color: $secondary-color;
}

body {
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

// Estilos para links (âncoras)
a {
  text-decoration: none;
}


.overlay {
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  z-index: 1000;
}

#menu-btn {
  @media (max-width: 767px) {
    font-size: 30px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

// Estilos para a barra de menu (menu)
header,
#about-me-section,
#skills-container,
#skills-section,
.project {
  align-items: center;
  text-align: center;
}

#home {
  @media (min-width: 1024px) {
    height: 90vh;
    width: 35%;
    margin: 0;
  }
}

#heading {
  margin-top: 75px;

  @media (max-width: 767px) {
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  @media (min-width: 1024px) {

    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 500;
  }

}

section>h1,
#cv,
.project {
  justify-content: center;
}

section>h1,
#heading {
  font-family: 'Ubuntu', sans-serif;
}

#description {
  @media (max-width: 767px) {
    margin: 20px 0;
  }

  @media (min-width: 1024px) {
    margin: 30px 0;
  }
}

.apresentation-strings {
  color: $primary-color;
}

// Estilos para o botão de currículo (cv)
#cv {
  border: 1px solid $primary-color;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: $primary-color;
  }

  @media (max-width: 767px) {
    padding: 10px;
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    padding: 25px;
    font-size: 30px;
  }
}

#img-perfil {
  border-radius: 50%;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 120px;
  }

  @media (min-width: 1024px) {
    width: 200px;
  }
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 767px) {
    gap: 15px;

    .skills {
      display: block;
      gap: 40px;

      h2 {
        margin-top: 10px;
      }
    }
  }

  @media (min-width: 1024px) {
    width: 500px;
    gap: 40px;

    img {
      width: 80px;
    }

  }
}



#projects-container {

  .project {
    position: relative;
    width: 600px;
    height: 400px;
    z-index: 3;

    .background-project {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &:hover {
      transition: 0.5s;
      transform: scale(1.05);
    }

  }

  .project-details {
    top: 50px;
    position: fixed;
    background-color: rgb(56, 56, 56);
    color: white;
  
    .project-description {
      overflow: auto visible;
    }
  }

  @media (max-width: 767px) {
    @include flex-container();
    flex-wrap: wrap;

    .project {
      margin-bottom: 10px;
      width: 100%;
      height: 50%;

      .background-project {
        filter: brightness(0.4);
      }

      .program-lang-img {
        margin: 0 3px;
        width: 40px;
      }
    }

    .project-details {
      width: 90vw;

      height: 80vh;

      .project-description {
        max-height: 300px;
        overflow-y: auto;
        padding: 10px;
      }
    }



    #actions-btn {
      display: flex;
      justify-content: space-around;
      margin-top: auto;

      a {
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
    }
  }

  @media (min-width: 1024px) {
    #projects-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }
}

// Estilos para o contêiner de informações de contato (contacts)
#contact {
  background-image: url(../images/contact_background.jpg);
  background-size: cover;
  width: 100vw;

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    padding: 10px 0;

    h1 {
      margin-top: 0;
    }

    div {
      margin-top: 50px;
    }

    img {
      width: 50px;
    }
  }

  @media (min-width: 1024px) {
    #contacts div img {
      width: 130px;
    }
  }
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

